<!--
/**
 * Smile Contact submitted form template.
 *
 * @category  Smile
 * @package   Smile\Contact
 * @author    Vasyl Sorivka <vasyl.sorivka@smile-ukraine.com>
 * @copyright 2020 Smile
 */
-->
<!--@subject {{trans "Contact Form"}} @-->
<!--@vars {
"var comment":"Comment",
"var name":"Sender Name",
"var answer":"Answer"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><strong>{{trans "Hello"}}</strong></td>
        <td><strong>{{var name}}<strong></td>
    </tr>
</table>
<p><strong>{{trans "Message"}}</strong></p>
<p>{{var comment}}</p>
<p><strong>{{trans "Answer"}}</strong></p>
<p>{{var answer}}</p>

{{template config_path="design/email/footer_template"}}
